:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    214,231,252;
--color-neutral-200:    143,188,247;
--color-neutral-300:    72,145,241;
--color-neutral-400:    16,105,220;
--color-neutral-500:    11,71,149;
--color-neutral-600:    8,53,111;
--color-neutral-700:    5,35,73;
--color-neutral-800:    3,17,35;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,241,214;
--color-primary-300:    255,214,137;
--color-primary-400:    254,187,61;
--color-primary-500:    238,156,1;
--color-primary-600:    197,129,1;
--color-primary-700:    157,103,1;
--color-primary-800:    116,76,0;
--color-primary-900:    75,49,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,246,241;
--color-secondary-200:    254,194,166;
--color-secondary-300:    252,142,91;
--color-secondary-400:    251,91,15;
--color-secondary-500:    187,62,3;
--color-secondary-600:    147,49,2;
--color-secondary-700:    107,35,2;
--color-secondary-800:    67,22,1;
--color-secondary-900:    26,9,0;
}
